# Backend Settings
SECRET_KEY=your-super-secret-key-change-me-in-production
MONGODB_URL=mongodb://localhost:27017
QDRANT_HOST=localhost
OPENAI_API_KEY=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

# Frontend Settings
NEXT_PUBLIC_API_URL=http://localhost:8000/api/v1
